.mdx-content.prose :is(h2, h3) {
  letter-spacing: -0.025em;
}

.mdx-content.prose {
  overflow-wrap: break-word;
}

.mdx-content.prose h2 {
  margin-bottom: 0.6666667em;
  font-weight: 600;
}

.mdx-content.prose h3 {
  margin-top: 2.4em;
  line-height: 1.4;
  font-weight: 600;
}

.mdx-content.prose h4 {
  margin-top: 2em;
  font-size: 1.125em;
  font-weight: 600;
}

.mdx-content.prose > p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.mdx-content.prose > :is(h2, h3, h4) + p,
.mdx-content.prose > p:first-child {
  margin-top: 0;
}

.mdx-content.prose :is(code, kbd, pre, samp) {
  font-family: var(--font-family-mono-custom, var(--font-mono));
}

.mdx-content pre {
  background-color: #fff !important;
  color: rgb(31, 35, 40) !important;
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.mdx-content pre:not(.shiki) {
  border: 1px solid rgba(2, 8, 23, 0.1);
  border-radius: 1rem;
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.mdx-content.prose pre code {
  display: block;
  min-width: max-content;
}

.mdx-content.prose :not(pre) > code {
  overflow-wrap: anywhere;
}

.mdx-content.prose table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.mdx-content.prose table > :is(thead, tbody, tfoot) {
  display: table;
  width: 100%;
}
