:root {
  --content-scroll-mt: 8rem;
  --font-family-headings-custom: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-family-body-custom: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-family-mono-custom:
    'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

html {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

@layer base {
  body {
    font-family: var(--font-family-body-custom, var(--font-sans));
  }

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-family-headings-custom, var(--font-sans));
  }
}

.mdx-content :is(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: var(--content-scroll-mt);
}
